<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Play
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Play</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Play page"></app-explore-container>
  <ion-button color="primary" (click)="buttonClicked()">
    Primary: {{clickCount}}
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group>
            <ion-item *ngFor="let item of list1">
              <ion-label>{{item.name}}</ion-label>
              <ion-radio slot="start" value="{{item.name}}" [disabled]="check(item.sisterId)"
                (ionFocus)="choiceSelected(item.name, item.sisterId, 1)">
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-radio-group>
            <ion-item *ngFor="let item of list2">
              <ion-label>{{item.name}}</ion-label>
              <ion-radio slot="start" value="{{item.name}}" [disabled]="check(item.sisterId)"
                (ionFocus)="choiceSelected(item.name, item.sisterId, 2)">
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="primary" (click)="submit()">
    {{result}}
  </ion-button>

</ion-content>