<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="small">Matches : HTTP GET method</ion-title>
    <ion-buttons slot="end">
      <ion-icon
        slot="start"
        name="add"
        routerLink="/tabs/tab2/match"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid fixed>
        <ion-row class="header">
          <ion-col></ion-col>
          <ion-col>Word</ion-col>
          <ion-col>Translation</ion-col>
          <ion-col>Edit</ion-col>
          <ion-col>Delete</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let match of matches; index as i">
      <ion-grid>
        <ion-row>
          <ion-col>{{ i + 1 }}</ion-col>
          <ion-col>{{ match.word }}</ion-col>
          <ion-col>{{ match.sister }}</ion-col>
          <ion-col>
            <a [routerLink]="'/match/' + match.id" size="small" shape="round">
              Edit
            </a>
          </ion-col>
          <ion-col>
            <ion-icon
              (click)="deleteMatch(match)"
              name="trash-outline"
              color="danger"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<router-outlet></router-outlet>
